{% extends 'base.html' %}

{% block content %}

<section>
    <h1>Contact us content</h1>
    <form>
        <label for="name">Name</label>
        <input type="text" id="Name" placeholder="Enter your name"/> 
        <label for="email">Email</label>
        <input type="text" name="email" id="Email" placeholder="Enter your email"/>
        <label for="message">Message</label>
        <textarea width="100%" maxlength="500" placeholder="Enter your query">Enter query</textarea>
        
    </form>
</section>

{% endblock content %}