<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
</head>
<body>
   
    <main>
        <div style="display: flex; justify-content: space-between; background-color: rgb(238, 118, 63);">
            <h1>Todo Application</h1>
            <div style="display: flex; justify-content: center; align-items: center; gap: 20px; padding: 10px;">
              
        </div>
    </main>
    
    <h1>Create Tasks </h1>
    
    {% block content %}

    {% endblock content %}
       
    
</body>
</html>




